# Project exclude paths
/.gradle/
/build/
/build/classes/java/main/
/native-dll/Fair-Core/.vs/
/native-dll/Fair-Core/.vs/Fair-Core/FileContentIndex/
/native-dll/Fair-Core/.vs/Fair-Core/v17/ipch/AutoPCH/2bb5b4002e95341a/
/native-dll/Fair-Core/.vs/Fair-Core/v17/ipch/AutoPCH/2f48840789f683a4/
/native-dll/Fair-Core/.vs/Fair-Core/v17/ipch/AutoPCH/7ece921fc7b30062/
/native-dll/Fair-Core/.vs/Fair-Core/v17/ipch/AutoPCH/8fe2b702b8eb21bc/
/native-dll/Fair-Core/.vs/Fair-Core/v17/ipch/AutoPCH/62b7820c0a773aff/
/native-dll/Fair-Core/.vs/Fair-Core/v17/ipch/AutoPCH/823f1258119a618d/
/native-dll/Fair-Core/.vs/Fair-Core/v17/ipch/AutoPCH/4001a8ae4f51bcb6/
/native-dll/Fair-Core/.vs/Fair-Core/v17/ipch/AutoPCH/82649c3227462c4c/
/native-dll/Fair-Core/.vs/Fair-Core/v17/ipch/AutoPCH/364105aac1c7c6e1/
/native-dll/Fair-Core/.vs/Fair-Core/v17/ipch/AutoPCH/364311eb24c3f9ae/
/native-dll/Fair-Core/.vs/Fair-Core/v17/ipch/AutoPCH/b791e0060ade89c5/
/native-dll/Fair-Core/.vs/Fair-Core/v17/ipch/AutoPCH/dcd25e0ec9c3f83/
/native-dll/Fair-Core/.vs/Fair-Core/v17/ipch/AutoPCH/ebdb8ccafb260633/
/native-dll/Fair-Core/.vs/Fair-Core/v17/ipch/AutoPCH/f2edc7583d549944/
/native-dll/Fair-Core/.vs/Fair-Core/v18/ipch/AutoPCH/1a19f2f5c5005ea/
/native-dll/Fair-Core/.vs/Fair-Core/v18/ipch/AutoPCH/2d534cbe638666f1/
/native-dll/Fair-Core/.vs/Fair-Core/v18/ipch/AutoPCH/7bd7bc52990153be/
/native-dll/Fair-Core/.vs/Fair-Core/v18/ipch/AutoPCH/9a9d098881b341f8/
/native-dll/Fair-Core/.vs/Fair-Core/v18/ipch/AutoPCH/26cc584b2c92c10b/
/native-dll/Fair-Core/.vs/Fair-Core/v18/ipch/AutoPCH/65d8e3d77d52a89e/
/native-dll/Fair-Core/.vs/Fair-Core/v18/ipch/AutoPCH/65ed9131fe64e27a/
/native-dll/Fair-Core/.vs/Fair-Core/v18/ipch/AutoPCH/592afa8c0364ea3a/
/native-dll/Fair-Core/.vs/Fair-Core/v18/ipch/AutoPCH/705b547556bd2023/
/native-dll/Fair-Core/.vs/Fair-Core/v18/ipch/AutoPCH/43348735662e573/
/native-dll/Fair-Core/.vs/Fair-Core/v18/ipch/AutoPCH/881816142517b7cc/
/native-dll/Fair-Core/.vs/Fair-Core/v18/ipch/AutoPCH/a4362a622a019df0/
/native-dll/Fair-Core/.vs/Fair-Core/v18/ipch/AutoPCH/adb0a2e95b3302b4/
/native-dll/Fair-Core/.vs/Fair-Core/v18/ipch/AutoPCH/b1c95615d454d7af/
/native-dll/Fair-Core/.vs/Fair-Core/v18/ipch/AutoPCH/b97ace79efafea79/
/native-dll/Fair-Core/.vs/Fair-Core/v18/ipch/AutoPCH/b068548d30eb7537/
/native-dll/Fair-Core/.vs/Fair-Core/v18/ipch/AutoPCH/c021a80c93a88ca4/
/native-dll/Fair-Core/.vs/Fair-Core/v18/ipch/AutoPCH/d148117a9e9a615f/
/native-dll/Fair-Core/.vs/Fair-Core/v18/ipch/AutoPCH/e0421d4a2527ec2f/
/native-dll/Fair-Core/.vs/Fair-Core/v18/ipch/AutoPCH/e796aa712943ee8a/
/native-dll/Fair-Core/.vs/Fair-Core/v18/ipch/AutoPCH/f514944cf6d18ec2/
/native-dll/Fair-Core/.vs/Mantra-Core/v17/
/native-dll/Fair-Core/Fair-Core/x64/
/native-dll/Fair-Core/x64/